google-calendar-initial-sync.json
{
  "name": "Google Calendar Initial Sync (One-Time)",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [260, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "config-google-cal",
              "name": "googleCalendarId",
              "value": "primary",
              "type": "string"
            },
            {
              "id": "config-o365-cal",
              "name": "office365CalendarName",
              "value": "Calendar",
              "type": "string"
            },
            {
              "id": "config-category",
              "name": "categoryName",
              "value": "Strike Team",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-config",
      "name": "⚙️ CONFIGURATION",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 300],
      "notesInFlow": true,
      "notes": "Configure your calendars here:\n- googleCalendarId: Use 'primary' for default, or the calendar ID from Google Calendar settings\n- office365CalendarName: The name of your Office 365 calendar (e.g., 'Calendar')\n- categoryName: The category to apply to synced events"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Calculate date range: today to 2 years from now\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\nconst twoYearsFromNow = new Date();\ntwoYearsFromNow.setFullYear(twoYearsFromNow.getFullYear() + 2);\n\n// Pass through config values\nconst config = $input.item.json;\n\nreturn {\n  json: {\n    ...config,\n    timeMin: today.toISOString(),\n    timeMax: twoYearsFromNow.toISOString()\n  }\n};"
      },
      "id": "code-calc-dates",
      "name": "Calculate Date Range",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://graph.microsoft.com/v1.0/me/calendars",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOutlookOAuth2Api",
        "options": {}
      },
      "id": "http-get-o365-calendars",
      "name": "Get Office 365 Calendars (Once)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 300],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "microsoftOutlookCredential",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Find the target calendar ID by name\nconst response = $input.item.json;\nconst calendars = response.value || [];\nconst config = $('Calculate Date Range').item.json;\nconst targetCalendarName = config.office365CalendarName;\n\n// Find calendar by name\nlet targetCalendar = calendars.find(c => c.name === targetCalendarName);\n\n// Fallback to default calendar if not found\nif (!targetCalendar) {\n  targetCalendar = calendars.find(c => c.isDefaultCalendar) || calendars[0];\n  console.log(`Calendar '${targetCalendarName}' not found, using: ${targetCalendar?.name}`);\n}\n\nreturn {\n  json: {\n    ...config,\n    office365CalendarId: targetCalendar?.id\n  }\n};"
      },
      "id": "code-find-calendar",
      "name": "Find Target Calendar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.microsoft.com/v1.0/me/calendars/{{ $json.office365CalendarId }}/events",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOutlookOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "outlook.body-content-type=\"text\""
            }
          ]
        },
        "options": {
          "qs": {
            "values": [
              {
                "name": "$filter",
                "value": "=categories/any(c:c eq '{{ $json.categoryName }}')"
              },
              {
                "name": "$select",
                "value": "id,subject,body,bodyPreview"
              },
              {
                "name": "$top",
                "value": "1000"
              }
            ]
          }
        }
      },
      "id": "http-get-existing-synced",
      "name": "Get Existing Synced Events (Once)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 300],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "microsoftOutlookCredential",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Store existing synced events and config for later use\nconst response = $input.item.json;\nconst existingEvents = response.value || [];\nconst config = $('Find Target Calendar').item.json;\n\n// Build a Set of existing tracking IDs for fast lookup\nconst existingTrackingIds = new Set();\nfor (const event of existingEvents) {\n  const bodyContent = event.body?.content || '';\n  const bodyPreview = event.bodyPreview || '';\n  const combined = bodyContent + bodyPreview;\n  \n  // Extract tracking ID using regex\n  const match = combined.match(/GCAL_SYNC_ID:([^\\]\\s]+)/);\n  if (match) {\n    existingTrackingIds.add(match[1]);\n  }\n}\n\nconsole.log(`Found ${existingTrackingIds.size} existing synced events in Office 365`);\n\nreturn {\n  json: {\n    ...config,\n    existingTrackingIds: Array.from(existingTrackingIds),\n    existingCount: existingTrackingIds.size\n  }\n};"
      },
      "id": "code-cache-existing",
      "name": "Cache Existing Event IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1580, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://www.googleapis.com/calendar/v3/calendars/{{ encodeURIComponent($json.googleCalendarId) }}/events",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "options": {
          "qs": {
            "values": [
              {
                "name": "timeMin",
                "value": "={{ $json.timeMin }}"
              },
              {
                "name": "timeMax",
                "value": "={{ $json.timeMax }}"
              },
              {
                "name": "singleEvents",
                "value": "true"
              },
              {
                "name": "orderBy",
                "value": "startTime"
              },
              {
                "name": "maxResults",
                "value": "2500"
              },
              {
                "name": "conferenceDataVersion",
                "value": "1"
              }
            ]
          }
        }
      },
      "id": "http-get-all-events",
      "name": "Get All Google Calendar Events",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1800, 300],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "googleCalendarCredential",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Extract events array from Google Calendar response\nconst response = $input.item.json;\nconst events = response.items || [];\nconst cachedData = $('Cache Existing Event IDs').item.json;\n\nconsole.log(`Found ${events.length} events in Google Calendar`);\nconsole.log(`${cachedData.existingCount} events already synced to Office 365`);\n\n// Return the events array for the next node to split\nreturn {\n  json: {\n    events: events,\n    totalCount: events.length,\n    office365CalendarId: cachedData.office365CalendarId,\n    categoryName: cachedData.categoryName,\n    existingTrackingIds: cachedData.existingTrackingIds\n  }\n};"
      },
      "id": "code-extract-events",
      "name": "Extract Events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2020, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "events",
        "options": {}
      },
      "id": "split-events",
      "name": "Split Into Individual Events",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [2240, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Transform Google Calendar event to Office 365 format\nconst item = $input.item.json;\nconst event = item;\nconst cachedData = $('Extract Events').item.json;\n\n// Skip cancelled events\nif (event.status === 'cancelled') {\n  return { json: { skip: true, reason: 'cancelled' } };\n}\n\n// Check if already synced (using cached data - NO API CALL!)\nconst trackingId = event.id;\nconst existingIds = cachedData.existingTrackingIds || [];\nif (existingIds.includes(trackingId)) {\n  return { json: { skip: true, reason: 'already_synced' } };\n}\n\n// Build the event body with description\nlet bodyContent = '';\n\n// Add original description if exists\nif (event.description) {\n  bodyContent += event.description;\n}\n\n// Add Google Meet/Hangouts link if available\nif (event.hangoutLink) {\n  bodyContent += '<br><br><hr>';\n  bodyContent += '<p><strong>🎥 Google Meet</strong></p>';\n  bodyContent += `<p><a href=\"${event.hangoutLink}\">${event.hangoutLink}</a></p>`;\n}\n\n// Add detailed conference data if available\nif (event.conferenceData) {\n  const conf = event.conferenceData;\n  \n  if (!event.hangoutLink && conf.entryPoints) {\n    bodyContent += '<br><br><hr>';\n    bodyContent += '<p><strong>📅 Conference Details</strong></p>';\n  }\n  \n  if (conf.entryPoints && conf.entryPoints.length > 0) {\n    for (const entry of conf.entryPoints) {\n      if (entry.entryPointType === 'video' && entry.uri !== event.hangoutLink) {\n        bodyContent += `<p>📹 Video: <a href=\"${entry.uri}\">${entry.uri}</a>`;\n        if (entry.meetingCode) {\n          bodyContent += ` (Code: ${entry.meetingCode})`;\n        }\n        bodyContent += '</p>';\n      } else if (entry.entryPointType === 'phone') {\n        bodyContent += `<p>📞 Phone: ${entry.label || entry.uri}`;\n        if (entry.pin) {\n          bodyContent += ` PIN: ${entry.pin}`;\n        }\n        bodyContent += '</p>';\n      } else if (entry.entryPointType === 'sip') {\n        bodyContent += `<p>🖥️ SIP: ${entry.uri}</p>`;\n      }\n    }\n  }\n  \n  if (conf.notes) {\n    bodyContent += `<p><em>${conf.notes}</em></p>`;\n  }\n}\n\n// Add sync tracking marker\nbodyContent += '<br><hr>';\nbodyContent += `<p style=\"font-size:10px;color:#888;\">[GCAL_SYNC_ID:${trackingId}]</p>`;\n\n// Determine if this is an all-day event\nconst isAllDay = !!(event.start?.date && !event.start?.dateTime);\n\n// Format dates\nlet startDateTime, endDateTime;\nif (isAllDay) {\n  startDateTime = event.start.date;\n  endDateTime = event.end.date;\n} else {\n  startDateTime = event.start?.dateTime || event.start?.date;\n  endDateTime = event.end?.dateTime || event.end?.date;\n}\n\n// Get timezone\nconst timeZone = event.start?.timeZone || Intl.DateTimeFormat().resolvedOptions().timeZone || 'UTC';\n\n// Map show as status\nlet showAs = 'busy';\nif (event.transparency === 'transparent') {\n  showAs = 'free';\n}\n\n// Map sensitivity\nlet sensitivity = 'normal';\nif (event.visibility === 'private' || event.visibility === 'confidential') {\n  sensitivity = 'private';\n}\n\nreturn {\n  json: {\n    skip: false,\n    trackingId: trackingId,\n    subject: event.summary || '(No Title)',\n    bodyContent: bodyContent,\n    isAllDay: isAllDay,\n    startDateTime: startDateTime,\n    endDateTime: endDateTime,\n    timeZone: timeZone,\n    location: event.location || '',\n    showAs: showAs,\n    sensitivity: sensitivity,\n    office365CalendarId: cachedData.office365CalendarId,\n    categoryName: cachedData.categoryName\n  }\n};"
      },
      "id": "code-transform-event",
      "name": "Transform Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-not-skip",
      "name": "Should Create?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.microsoft.com/v1.0/me/calendars/{{ $json.office365CalendarId }}/events",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOutlookOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subject\": {{ JSON.stringify($json.subject) }},\n  \"body\": {\n    \"contentType\": \"HTML\",\n    \"content\": {{ JSON.stringify($json.bodyContent) }}\n  },\n  \"start\": {\n    \"dateTime\": {{ JSON.stringify($json.startDateTime) }},\n    \"timeZone\": {{ JSON.stringify($json.timeZone) }}\n  },\n  \"end\": {\n    \"dateTime\": {{ JSON.stringify($json.endDateTime) }},\n    \"timeZone\": {{ JSON.stringify($json.timeZone) }}\n  },\n  \"location\": {\n    \"displayName\": {{ JSON.stringify($json.location) }}\n  },\n  \"categories\": [{{ JSON.stringify($json.categoryName) }}],\n  \"showAs\": {{ JSON.stringify($json.showAs) }},\n  \"sensitivity\": {{ JSON.stringify($json.sensitivity) }},\n  \"isAllDay\": {{ $json.isAllDay }}\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          }
        }
      },
      "id": "http-create-event",
      "name": "Create Event in Office 365",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2940, 220],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "microsoftOutlookCredential",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {},
      "id": "noop-created",
      "name": "Event Created",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [3200, 220]
    },
    {
      "parameters": {},
      "id": "noop-skipped",
      "name": "Skipped",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2940, 380]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "⚙️ CONFIGURATION",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ CONFIGURATION": {
      "main": [
        [
          {
            "node": "Calculate Date Range",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Date Range": {
      "main": [
        [
          {
            "node": "Get Office 365 Calendars (Once)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Office 365 Calendars (Once)": {
      "main": [
        [
          {
            "node": "Find Target Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Target Calendar": {
      "main": [
        [
          {
            "node": "Get Existing Synced Events (Once)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Synced Events (Once)": {
      "main": [
        [
          {
            "node": "Cache Existing Event IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cache Existing Event IDs": {
      "main": [
        [
          {
            "node": "Get All Google Calendar Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Google Calendar Events": {
      "main": [
        [
          {
            "node": "Extract Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Events": {
      "main": [
        [
          {
            "node": "Split Into Individual Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into Individual Events": {
      "main": [
        [
          {
            "node": "Transform Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Event": {
      "main": [
        [
          {
            "node": "Should Create?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Create?": {
      "main": [
        [
          {
            "node": "Create Event in Office 365",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Event in Office 365": {
      "main": [
        [
          {
            "node": "Event Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1
}
