google-calendar-to-office365-sync.json
{
  "name": "Google Calendar to Office 365 One-Way Sync",
  "nodes": [
    {
      "parameters": {
        "triggerOn": "eventCreated",
        "calendarId": "Calendar",
        "options": {}
      },
      "id": "trigger-event-created",
      "name": "Google Calendar - Event Created",
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [260, 180],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "googleCalendarCredential",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "triggerOn": "eventUpdated",
        "calendarId": "Calendar",
        "options": {}
      },
      "id": "trigger-event-updated",
      "name": "Google Calendar - Event Updated",
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [260, 500],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "googleCalendarCredential",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "triggerOn": "eventCancelled",
        "calendarId": "Calendar",
        "options": {}
      },
      "id": "trigger-event-cancelled",
      "name": "Google Calendar - Event Cancelled",
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [260, 820],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "googleCalendarCredential",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://www.googleapis.com/calendar/v3/calendars/primary/events/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "options": {
          "qs": {
            "values": [
              {
                "name": "conferenceDataVersion",
                "value": "1"
              }
            ]
          }
        }
      },
      "id": "http-get-full-event-create",
      "name": "Get Full Event Details (Create)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [520, 180],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "googleCalendarCredential",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://www.googleapis.com/calendar/v3/calendars/primary/events/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "options": {
          "qs": {
            "values": [
              {
                "name": "conferenceDataVersion",
                "value": "1"
              }
            ]
          }
        }
      },
      "id": "http-get-full-event-update",
      "name": "Get Full Event Details (Update)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [520, 500],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "googleCalendarCredential",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Transform Google Calendar event to Office 365 format\nconst event = $input.item.json;\n\n// Build the event body with description\nlet bodyContent = '';\n\n// Add original description if exists\nif (event.description) {\n  bodyContent += event.description;\n}\n\n// Add Google Meet/Hangouts link if available\nif (event.hangoutLink) {\n  bodyContent += '<br><br><hr>';\n  bodyContent += '<p><strong>🎥 Google Meet</strong></p>';\n  bodyContent += `<p><a href=\"${event.hangoutLink}\">${event.hangoutLink}</a></p>`;\n}\n\n// Add detailed conference data if available\nif (event.conferenceData) {\n  const conf = event.conferenceData;\n  \n  if (!event.hangoutLink && conf.entryPoints) {\n    bodyContent += '<br><br><hr>';\n    bodyContent += '<p><strong>📅 Conference Details</strong></p>';\n  }\n  \n  if (conf.entryPoints && conf.entryPoints.length > 0) {\n    for (const entry of conf.entryPoints) {\n      if (entry.entryPointType === 'video' && entry.uri !== event.hangoutLink) {\n        bodyContent += `<p>📹 Video: <a href=\"${entry.uri}\">${entry.uri}</a>`;\n        if (entry.meetingCode) {\n          bodyContent += ` (Code: ${entry.meetingCode})`;\n        }\n        bodyContent += '</p>';\n      } else if (entry.entryPointType === 'phone') {\n        bodyContent += `<p>📞 Phone: ${entry.label || entry.uri}`;\n        if (entry.pin) {\n          bodyContent += ` PIN: ${entry.pin}`;\n        }\n        bodyContent += '</p>';\n      } else if (entry.entryPointType === 'sip') {\n        bodyContent += `<p>🖥️ SIP: ${entry.uri}</p>`;\n      }\n    }\n  }\n  \n  if (conf.notes) {\n    bodyContent += `<p><em>${conf.notes}</em></p>`;\n  }\n}\n\n// Add sync tracking marker - use a simple, searchable format\nconst trackingId = event.id;\nbodyContent += '<br><hr>';\nbodyContent += `<p style=\"font-size:10px;color:#888;\">[GCAL_SYNC_ID:${trackingId}]</p>`;\n\n// Determine if this is an all-day event\nconst isAllDay = !!(event.start?.date && !event.start?.dateTime);\n\n// Format dates\nlet startDateTime, endDateTime;\nif (isAllDay) {\n  startDateTime = event.start.date;\n  endDateTime = event.end.date;\n} else {\n  startDateTime = event.start?.dateTime || event.start?.date;\n  endDateTime = event.end?.dateTime || event.end?.date;\n}\n\n// Get timezone\nconst timeZone = event.start?.timeZone || Intl.DateTimeFormat().resolvedOptions().timeZone || 'UTC';\n\n// Map show as status\nlet showAs = 'busy';\nif (event.transparency === 'transparent') {\n  showAs = 'free';\n}\n\n// Map sensitivity\nlet sensitivity = 'normal';\nif (event.visibility === 'private' || event.visibility === 'confidential') {\n  sensitivity = 'private';\n}\n\nreturn {\n  json: {\n    trackingId: trackingId,\n    subject: event.summary || '(No Title)',\n    bodyContent: bodyContent,\n    isAllDay: isAllDay,\n    startDateTime: startDateTime,\n    endDateTime: endDateTime,\n    timeZone: timeZone,\n    location: event.location || '',\n    showAs: showAs,\n    sensitivity: sensitivity\n  }\n};"
      },
      "id": "code-transform-create",
      "name": "Transform for Create",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 180]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Transform Google Calendar event to Office 365 format\nconst event = $input.item.json;\n\n// Build the event body with description\nlet bodyContent = '';\n\n// Add original description if exists\nif (event.description) {\n  bodyContent += event.description;\n}\n\n// Add Google Meet/Hangouts link if available\nif (event.hangoutLink) {\n  bodyContent += '<br><br><hr>';\n  bodyContent += '<p><strong>🎥 Google Meet</strong></p>';\n  bodyContent += `<p><a href=\"${event.hangoutLink}\">${event.hangoutLink}</a></p>`;\n}\n\n// Add detailed conference data if available\nif (event.conferenceData) {\n  const conf = event.conferenceData;\n  \n  if (!event.hangoutLink && conf.entryPoints) {\n    bodyContent += '<br><br><hr>';\n    bodyContent += '<p><strong>📅 Conference Details</strong></p>';\n  }\n  \n  if (conf.entryPoints && conf.entryPoints.length > 0) {\n    for (const entry of conf.entryPoints) {\n      if (entry.entryPointType === 'video' && entry.uri !== event.hangoutLink) {\n        bodyContent += `<p>📹 Video: <a href=\"${entry.uri}\">${entry.uri}</a>`;\n        if (entry.meetingCode) {\n          bodyContent += ` (Code: ${entry.meetingCode})`;\n        }\n        bodyContent += '</p>';\n      } else if (entry.entryPointType === 'phone') {\n        bodyContent += `<p>📞 Phone: ${entry.label || entry.uri}`;\n        if (entry.pin) {\n          bodyContent += ` PIN: ${entry.pin}`;\n        }\n        bodyContent += '</p>';\n      } else if (entry.entryPointType === 'sip') {\n        bodyContent += `<p>🖥️ SIP: ${entry.uri}</p>`;\n      }\n    }\n  }\n  \n  if (conf.notes) {\n    bodyContent += `<p><em>${conf.notes}</em></p>`;\n  }\n}\n\n// Add sync tracking marker - use a simple, searchable format\nconst trackingId = event.id;\nbodyContent += '<br><hr>';\nbodyContent += `<p style=\"font-size:10px;color:#888;\">[GCAL_SYNC_ID:${trackingId}]</p>`;\n\n// Determine if this is an all-day event\nconst isAllDay = !!(event.start?.date && !event.start?.dateTime);\n\n// Format dates\nlet startDateTime, endDateTime;\nif (isAllDay) {\n  startDateTime = event.start.date;\n  endDateTime = event.end.date;\n} else {\n  startDateTime = event.start?.dateTime || event.start?.date;\n  endDateTime = event.end?.dateTime || event.end?.date;\n}\n\n// Get timezone\nconst timeZone = event.start?.timeZone || Intl.DateTimeFormat().resolvedOptions().timeZone || 'UTC';\n\n// Map show as status\nlet showAs = 'busy';\nif (event.transparency === 'transparent') {\n  showAs = 'free';\n}\n\n// Map sensitivity\nlet sensitivity = 'normal';\nif (event.visibility === 'private' || event.visibility === 'confidential') {\n  sensitivity = 'private';\n}\n\nreturn {\n  json: {\n    trackingId: trackingId,\n    subject: event.summary || '(No Title)',\n    bodyContent: bodyContent,\n    isAllDay: isAllDay,\n    startDateTime: startDateTime,\n    endDateTime: endDateTime,\n    timeZone: timeZone,\n    location: event.location || '',\n    showAs: showAs,\n    sensitivity: sensitivity\n  }\n};"
      },
      "id": "code-transform-update",
      "name": "Transform for Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 500]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Extract tracking ID for deletion\nconst event = $input.item.json;\n\nreturn {\n  json: {\n    trackingId: event.id\n  }\n};"
      },
      "id": "code-extract-delete-id",
      "name": "Extract Delete ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 820]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.microsoft.com/v1.0/me/calendar/events",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOutlookOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subject\": {{ JSON.stringify($json.subject) }},\n  \"body\": {\n    \"contentType\": \"HTML\",\n    \"content\": {{ JSON.stringify($json.bodyContent) }}\n  },\n  \"start\": {\n    \"dateTime\": {{ JSON.stringify($json.startDateTime) }},\n    \"timeZone\": {{ JSON.stringify($json.timeZone) }}\n  },\n  \"end\": {\n    \"dateTime\": {{ JSON.stringify($json.endDateTime) }},\n    \"timeZone\": {{ JSON.stringify($json.timeZone) }}\n  },\n  \"location\": {\n    \"displayName\": {{ JSON.stringify($json.location) }}\n  },\n  \"categories\": [\"Strike Team\"],\n  \"showAs\": {{ JSON.stringify($json.showAs) }},\n  \"sensitivity\": {{ JSON.stringify($json.sensitivity) }},\n  \"isAllDay\": {{ $json.isAllDay }}\n}",
        "options": {}
      },
      "id": "http-create-event",
      "name": "Create Event in Office 365",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1040, 180],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "microsoftOutlookCredential",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://graph.microsoft.com/v1.0/me/calendar/events",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOutlookOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "outlook.body-content-type=\"text\""
            }
          ]
        },
        "options": {
          "qs": {
            "values": [
              {
                "name": "$filter",
                "value": "categories/any(c:c eq 'Strike Team')"
              },
              {
                "name": "$select",
                "value": "id,subject,body,bodyPreview"
              },
              {
                "name": "$top",
                "value": "500"
              }
            ]
          }
        }
      },
      "id": "http-get-synced-events-update",
      "name": "Get Synced Events (Update)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1040, 500],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "microsoftOutlookCredential",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://graph.microsoft.com/v1.0/me/calendar/events",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOutlookOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "outlook.body-content-type=\"text\""
            }
          ]
        },
        "options": {
          "qs": {
            "values": [
              {
                "name": "$filter",
                "value": "categories/any(c:c eq 'Strike Team')"
              },
              {
                "name": "$select",
                "value": "id,subject,body,bodyPreview"
              },
              {
                "name": "$top",
                "value": "500"
              }
            ]
          }
        }
      },
      "id": "http-get-synced-events-delete",
      "name": "Get Synced Events (Delete)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [780, 820],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "microsoftOutlookCredential",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Find the matching Office 365 event by tracking ID\nconst response = $input.item.json;\nconst syncedEvents = response.value || [];\nconst transformedData = $('Transform for Update').item.json;\nconst trackingId = transformedData.trackingId;\n\n// Log for debugging\nconsole.log('Looking for tracking ID:', trackingId);\nconsole.log('Number of Strike Team events found:', syncedEvents.length);\n\n// Search ONLY in Strike Team events for our tracking ID\nlet outlookEventId = null;\nfor (const event of syncedEvents) {\n  // Check in body content (text format requested)\n  const bodyContent = event.body?.content || '';\n  const bodyPreview = event.bodyPreview || '';\n  \n  // Look for our tracking marker in various formats\n  const searchPattern = `GCAL_SYNC_ID:${trackingId}`;\n  \n  if (bodyContent.includes(searchPattern) || bodyPreview.includes(searchPattern)) {\n    outlookEventId = event.id;\n    console.log('Found matching event:', event.subject, event.id);\n    break;\n  }\n}\n\nif (!outlookEventId) {\n  console.log('No matching event found for tracking ID:', trackingId);\n}\n\nreturn {\n  json: {\n    found: outlookEventId !== null,\n    outlookEventId: outlookEventId,\n    debugEventsCount: syncedEvents.length,\n    searchedForId: trackingId,\n    ...transformedData\n  }\n};"
      },
      "id": "code-find-event-update",
      "name": "Find Matching Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 500]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Find the matching Office 365 event by tracking ID for deletion\nconst response = $input.item.json;\nconst syncedEvents = response.value || [];\nconst deleteData = $('Extract Delete ID').item.json;\nconst trackingId = deleteData.trackingId;\n\n// Log for debugging\nconsole.log('DELETE - Looking for tracking ID:', trackingId);\nconsole.log('DELETE - Number of Strike Team events found:', syncedEvents.length);\n\n// Search ONLY in Strike Team events for our tracking ID\nlet outlookEventId = null;\nfor (const event of syncedEvents) {\n  // Check in body content (text format requested)\n  const bodyContent = event.body?.content || '';\n  const bodyPreview = event.bodyPreview || '';\n  \n  // Look for our tracking marker\n  const searchPattern = `GCAL_SYNC_ID:${trackingId}`;\n  \n  if (bodyContent.includes(searchPattern) || bodyPreview.includes(searchPattern)) {\n    outlookEventId = event.id;\n    console.log('DELETE - Found matching event:', event.subject, event.id);\n    break;\n  }\n}\n\nif (!outlookEventId) {\n  console.log('DELETE - No matching event found for tracking ID:', trackingId);\n}\n\nreturn {\n  json: {\n    found: outlookEventId !== null,\n    outlookEventId: outlookEventId,\n    debugEventsCount: syncedEvents.length,\n    searchedForId: trackingId\n  }\n};"
      },
      "id": "code-find-event-delete",
      "name": "Find Event to Delete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 820]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.found }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-found-update",
      "name": "Event Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1560, 500]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.found }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-found-delete",
      "name": "Event Found for Delete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1300, 820]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://graph.microsoft.com/v1.0/me/calendar/events/{{ $json.outlookEventId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOutlookOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subject\": {{ JSON.stringify($json.subject) }},\n  \"body\": {\n    \"contentType\": \"HTML\",\n    \"content\": {{ JSON.stringify($json.bodyContent) }}\n  },\n  \"start\": {\n    \"dateTime\": {{ JSON.stringify($json.startDateTime) }},\n    \"timeZone\": {{ JSON.stringify($json.timeZone) }}\n  },\n  \"end\": {\n    \"dateTime\": {{ JSON.stringify($json.endDateTime) }},\n    \"timeZone\": {{ JSON.stringify($json.timeZone) }}\n  },\n  \"location\": {\n    \"displayName\": {{ JSON.stringify($json.location) }}\n  },\n  \"categories\": [\"Strike Team\"],\n  \"showAs\": {{ JSON.stringify($json.showAs) }},\n  \"sensitivity\": {{ JSON.stringify($json.sensitivity) }},\n  \"isAllDay\": {{ $json.isAllDay }}\n}",
        "options": {}
      },
      "id": "http-update-event",
      "name": "Update Event in Office 365",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1820, 420],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "microsoftOutlookCredential",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.microsoft.com/v1.0/me/calendar/events",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOutlookOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subject\": {{ JSON.stringify($json.subject) }},\n  \"body\": {\n    \"contentType\": \"HTML\",\n    \"content\": {{ JSON.stringify($json.bodyContent) }}\n  },\n  \"start\": {\n    \"dateTime\": {{ JSON.stringify($json.startDateTime) }},\n    \"timeZone\": {{ JSON.stringify($json.timeZone) }}\n  },\n  \"end\": {\n    \"dateTime\": {{ JSON.stringify($json.endDateTime) }},\n    \"timeZone\": {{ JSON.stringify($json.timeZone) }}\n  },\n  \"location\": {\n    \"displayName\": {{ JSON.stringify($json.location) }}\n  },\n  \"categories\": [\"Strike Team\"],\n  \"showAs\": {{ JSON.stringify($json.showAs) }},\n  \"sensitivity\": {{ JSON.stringify($json.sensitivity) }},\n  \"isAllDay\": {{ $json.isAllDay }}\n}",
        "options": {}
      },
      "id": "http-create-event-from-update",
      "name": "Create Event (Not Found)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1820, 580],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "microsoftOutlookCredential",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://graph.microsoft.com/v1.0/me/calendar/events/{{ $json.outlookEventId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOutlookOAuth2Api",
        "options": {}
      },
      "id": "http-delete-event",
      "name": "Delete Event from Office 365",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1560, 760],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "microsoftOutlookCredential",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {},
      "id": "noop-create-success",
      "name": "Create Success",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1300, 180]
    },
    {
      "parameters": {},
      "id": "noop-update-success",
      "name": "Update/Create Success",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2080, 500]
    },
    {
      "parameters": {},
      "id": "noop-delete-success",
      "name": "Delete Success",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1820, 760]
    },
    {
      "parameters": {},
      "id": "noop-not-found-skip",
      "name": "Not Found - Skip Delete",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1560, 880]
    }
  ],
  "connections": {
    "Google Calendar - Event Created": {
      "main": [
        [
          {
            "node": "Get Full Event Details (Create)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar - Event Updated": {
      "main": [
        [
          {
            "node": "Get Full Event Details (Update)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar - Event Cancelled": {
      "main": [
        [
          {
            "node": "Extract Delete ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Full Event Details (Create)": {
      "main": [
        [
          {
            "node": "Transform for Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Full Event Details (Update)": {
      "main": [
        [
          {
            "node": "Transform for Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform for Create": {
      "main": [
        [
          {
            "node": "Create Event in Office 365",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform for Update": {
      "main": [
        [
          {
            "node": "Get Synced Events (Update)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Event in Office 365": {
      "main": [
        [
          {
            "node": "Create Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Synced Events (Update)": {
      "main": [
        [
          {
            "node": "Find Matching Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Matching Event": {
      "main": [
        [
          {
            "node": "Event Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Event Found?": {
      "main": [
        [
          {
            "node": "Update Event in Office 365",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Event (Not Found)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Event in Office 365": {
      "main": [
        [
          {
            "node": "Update/Create Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Event (Not Found)": {
      "main": [
        [
          {
            "node": "Update/Create Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Delete ID": {
      "main": [
        [
          {
            "node": "Get Synced Events (Delete)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Synced Events (Delete)": {
      "main": [
        [
          {
            "node": "Find Event to Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Event to Delete": {
      "main": [
        [
          {
            "node": "Event Found for Delete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Event Found for Delete?": {
      "main": [
        [
          {
            "node": "Delete Event from Office 365",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not Found - Skip Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Event from Office 365": {
      "main": [
        [
          {
            "node": "Delete Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 3
}
